@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(0, 0, 255, 0.445);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

header {
    margin: 30px 0px 20px;
}

section {
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    color: black;
}

footer {
    padding: 30px;
    color: black;
}

img {
    background-position: center;
}